@if (isVisible) {
<div
  class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-50"
>
  <div class="form-container bg-white p-4 rounded shadow">
    <h5 class="mb-3">
      {{ isEditing ? "Editar Modelo" : "Adicionar Modelo" }}
    </h5>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label" for="name">Nome</label>
        <input
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="brand">Marca</label>
        <select id="brand" class="form-select" formControlName="brand">
          <option value="" disabled>Selecione a marca</option>
          @for (brand of brands; track brand.id) {
          <option [value]="brand.id">{{ brand.name }}</option>
          }
        </select>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-2" (click)="close()">
          Cancelar
        </button>
        <button
          type="submit"
          [disabled]="modelForm.invalid"
          class="btn btn-primary"
        >
          {{ isEditing ? "Atualizar" : "Salvar" }}
        </button>
      </div>
    </form>
  </div>
</div>
}
