<div
  class="container d-flex justify-content-center align-items-center flex-grow-1"
>
  <div class="card shadow p-4 w-100" style="max-width: 400px">
    <h4 class="text-center mb-4">Cadastro de usuário</h4>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nome"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="E-mail"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Confirmar senha"
          formControlName="confirmPassword"
        />
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="admin"
          id="admin"
        />
        <label class="form-check-label" for="admin"> Administrador </label>
      </div>

      <button type="submit" class="btn btn-primary w-100">Criar novo usuário</button>
    </form>
  </div>
</div>
